.dm-serif display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }





* {
    background-color: rgb(246, 205, 212);
    font-family: "DM Serif Display", serif;


}

#login{
    background-color: rgb(246, 205, 212);
    box-shadow: 8px 8px 8px 8px rgb(198, 155, 162);
}


#signup{
    background-color: rgb(246, 205, 212);
    box-shadow: 8px 8px 8px 8px rgb(198, 155, 162);
}
#subtitle{
    font-size: 45px;

}

#article{
    border-radius: 25px;
}

/* #article:hover{
    
} */
